.note-container {
	width: 80%;
	margin: 100px auto;
}
.note-container .note {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 50px auto;
	padding: 50px;
}
